<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>acb.openinchrome</string>
	<key>connections</key>
	<dict>
		<key>38377A41-1A30-4CA4-863D-B0F0E10CA8CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50F564A7-B4C5-4793-882F-2272FB65C609</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>50F564A7-B4C5-4793-882F-2272FB65C609</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2087C08-9400-4511-AE97-F248016EE86A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>54EF88B1-17A5-4859-A449-6AB2D7E1B6DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D007E26E-7388-4088-9CF3-E7EF2C7B5676</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AECAFE99-E0FC-41D3-B39D-2444C2FA8B18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D007E26E-7388-4088-9CF3-E7EF2C7B5676</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D007E26E-7388-4088-9CF3-E7EF2C7B5676</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8127B9A1-8B18-4E8D-88F8-9B6086A5C20D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D44FC075-1C6D-4787-9728-D65A2B44E0E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50F564A7-B4C5-4793-882F-2272FB65C609</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Curtis-Black</string>
	<key>description</key>
	<string>Opens the current Safari tab in Chrome</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in Chrome</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<true/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Open in Chrome</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8127B9A1-8B18-4E8D-88F8-9B6086A5C20D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>54EF88B1-17A5-4859-A449-6AB2D7E1B6DC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>osascript open_in_chrome.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D007E26E-7388-4088-9CF3-E7EF2C7B5676</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>openinchrome</string>
				<key>subtext</key>
				<string>Open current Safari tab in Google Chrome</string>
				<key>text</key>
				<string>Open in Chrome</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AECAFE99-E0FC-41D3-B39D-2444C2FA8B18</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>38377A41-1A30-4CA4-863D-B0F0E10CA8CC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<true/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Open in Chrome</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E2087C08-9400-4511-AE97-F248016EE86A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript open_in_safari.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>50F564A7-B4C5-4793-882F-2272FB65C609</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>openinsafari</string>
				<key>subtext</key>
				<string>Open current Chrome tab in Safari</string>
				<key>text</key>
				<string>Open in Safari</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D44FC075-1C6D-4787-9728-D65A2B44E0E5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Based on Runar's workflow of the same name. Modified to behave more intelligently in situations where Safari is not open, or does not have any open tabs, and to provide more informative notifications.</string>
	<key>uidata</key>
	<dict>
		<key>38377A41-1A30-4CA4-863D-B0F0E10CA8CC</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>50F564A7-B4C5-4793-882F-2272FB65C609</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>54EF88B1-17A5-4859-A449-6AB2D7E1B6DC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8127B9A1-8B18-4E8D-88F8-9B6086A5C20D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AECAFE99-E0FC-41D3-B39D-2444C2FA8B18</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>D007E26E-7388-4088-9CF3-E7EF2C7B5676</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D44FC075-1C6D-4787-9728-D65A2B44E0E5</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>E2087C08-9400-4511-AE97-F248016EE86A</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.alfredforum.com/topic/1875-open-current-safari-tab-in-chrome-improved/</string>
</dict>
</plist>
